* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #5555d5;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
}

input {
  padding: 0 5px;
}

button:disabled {
  background: lightgray;
  cursor: default;
  color: gray;
}

button {
  background: #5555d5;
  color: white;
  cursor: pointer;
}

input, button {
  height: 50px;
  max-height: 50px;
  width: 100%;
  max-width: 100%;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 5px;
  font-size: 24px;
}

.form-warning {
  color: yellow;
}

.form-error {
  color: red;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}